networks:
  homelab:
    external: true
services:
  # ref: https://github.com/distribution/distribution/blob/v2.8.3/docs/configuration.md
  # ref: https://docs.docker.com/docker-hub/image-library/mirror
  mirror-ghcr:
    image: "registry:2.8.3"
    container_name: "mirror-ghcr"
    labels:
      - homepage.group=sakamoto
      - homepage.name=mirror-ghcr
      - homepage.icon=docker-moby.svg
      - homepage.description=
    restart: always
    networks:
      - homelab
    environment:
      REGISTRY_LOG_LEVEL: debug
      REGISTRY_PROXY_REMOTEURL: https://ghcr.io
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "${MIRROR_DATA_DIR:?MIRROR_DATA_DIR}/ghcr/data:/var/lib/registry"
      - "../config.yaml:/etc/docker/registry/config.yml"
    ports:
      - "5001:5000"
    deploy:
      replicas: 1
