networks:
  homelab:
    external: true

services:
  caddy:
    image: ghcr.io/shelken/caddy:2.10.2
    container_name: caddy
    labels:
      - homepage.group=sakamoto
      - homepage.name=caddy
      - homepage.icon=caddy.svg
      - homepage.description=
      - homepage.widget.type=caddy
      - homepage.widget.url=http://sakamoto.lan:2019
    network_mode: host
    restart: always
    configs:
      - source: caddy_config
        target: /etc/caddy/Caddyfile
    environment:
      TZ: Asia/Shanghai
      MAIN_DOMAIN: ${MAIN_DOMAIN}
      CLOUDFLARE_API_TOKEN: ${CADDY_CLOUDFLARE_API_TOKEN}
    volumes:
      - "${DOCKER_DATA_DIR}/caddy/site:/srv"
      - "${DOCKER_DATA_DIR}/caddy/data:/data"
      - "${DOCKER_DATA_DIR}/caddy/config:/config"
    deploy:
      replicas: 1

configs:
  caddy_config:
    content: |
      {
        admin 0.0.0.0:2019
        log {
          format console
          level INFO
        }
        # 所有服务全局配置块
        servers {
          # 此处仅在二级代理时才应该开启，假如这里变成一级代理，不应该相信外部传入的xff
          trusted_proxies static private_ranges
          protocols h1 h2 h3
        }
      }

      (with-tls) {
        tls {
          dns cloudflare {env.CLOUDFLARE_API_TOKEN}
        }
      }

      # 通用的代理头部设置
      (common_to_proxy_headers) {
        # header_up +X-Real-IP {remote_host}
        # header_up +X-Forwarded-For {remote_host}
        flush_interval -1
      }

      # 0: to
      # 1: 多种处理，例如 transfer_xff，添加请求头
      # 2 添加 transport 参数
      (reverse_template) {
        reverse_proxy {
          to {args[0]}
          import common_to_proxy_headers
          import {args[1]}
          transport http {
            import {args[2]}

            dial_timeout 10s
            response_header_timeout 30s
            expect_continue_timeout 15s

            keepalive 300s
            keepalive_idle_conns 100
            keepalive_interval 30s
          }
        }
      }

      (common_header) {
        header {
          +My-Server "sakamoto"
          -Server
          -via
        }
      }

      (cors) {
        header >Access-Control-Allow-Credentials true
        header >Access-Control-Allow-Origin "{args[0]}"
        header >Access-Control-Allow-Headers "{args[0]}"
        header >Access-Control-Allow-Methods "OPTIONS, HEAD, GET, POST, PUT, PATCH, DELETE"
      }

      (allow-all-origin) {
        # 处理 OPTIONS 请求
        @optionsMethod {
            method OPTIONS
        }
        handle @optionsMethod {
            respond 200
        }
        import cors *
      }

      (empty) {
      }

      (skip-tls-verify) {
        tls
        tls_insecure_skip_verify
      }

      (internal-access) {
        @{args[0]} host {args[0]}.{env.MAIN_DOMAIN}
        handle @{args[0]} {
          @deny header X-Forwarded-For *
          handle @deny {
            respond "Access denied - Internal network only" 403
          }
          import reverse_template {args[1]} {args[2]} {args[3]}
          import common_header
        }
      }

      *.{env.MAIN_DOMAIN} {
        import with-tls

        import internal-access minio-ui     http://127.0.0.1:9001       empty empty
        import internal-access minio        http://127.0.0.1:9000       empty empty
        import internal-access nvidia-dls   https://127.0.0.1:5100      empty skip-tls-verify
        import internal-access pve-mine     https://192.168.6.213:8006  empty skip-tls-verify

        import internal-access ghcr-mirror        http://127.0.0.1:5001  empty empty
        import internal-access quay-mirror        http://127.0.0.1:5002  empty empty
        import internal-access mirror-gcr-mirror  http://127.0.0.1:5003  empty empty
        import internal-access k8s-mirror         http://127.0.0.1:5005  empty empty
        #import internal-access docker-mirror     http://127.0.0.1:5006  empty empty

        handle {
          #import to_k8s_external
          #import common_header
          abort
        }

      }
