networks:
  homelab:
    name: homelab
    driver: bridge
    enable_ipv6: true

secrets:
  ct-token:
    environment: CT_TOKEN
  dufs-password:
    environment: DUFS_PASSWORD

services:
  dockerproxy:
    image: tecnativa/docker-socket-proxy:latest@sha256:3400c429c5f9e1b21d62130fb93b16e2e772d4fb7695bd52fc2b743800b9fe9e
    container_name: dockerproxy
    restart: always
    labels:
      - homepage.group=tvbox
      - homepage.name=docker-proxy
      - homepage.icon=docker-moby.svg
      - homepage.description=
    networks:
      - homelab
    environment:
      - CONTAINERS=1 # Allow access to viewing containers
      - SERVICES=1 # Allow access to viewing services (necessary when using Docker Swarm)
      - TASKS=1 # Allow access to viewing tasks (necessary when using Docker Swarm)
      - POST=1 # Disallow any POST operations (effectively read-only)
      # - VOLUMES=1
      # - IMAGES=1
      - INFO=1
      # - NETWORKS=1
    ports:
      - "${DOCKER_PROXY_HOST:-127.0.0.1}:2575:2375"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # Mounted as read-only
    deploy:
      replicas: 0

  caddy:
    image: ghcr.io/shelken/caddy:2.10.2
    container_name: caddy
    network_mode: host
    restart: always
    labels:
      - homepage.group=tvbox
      - homepage.name=tvbox-caddy
      - homepage.icon=caddy.svg
      - homepage.description=tvbox反向代理
      - homepage.widget.type=caddy
      - homepage.widget.url=http://tvbox.lan:2019
    environment:
      TZ: Asia/Shanghai
      MAIN_DOMAIN: ${MAIN_DOMAIN}
      CLOUDFLARE_API_TOKEN: ${CADDY_CLOUDFLARE_API_TOKEN}
    volumes:
      - "${CADDY_CONFIG_FILE}:/etc/caddy/Caddyfile"
      - "${CADDY_SITE_DIR}:/srv"
      - "${CADDY_DATA_DIR}:/data"
      - "${CADDY_CONFIG_DIR}:/config"
    # ports:
    #   - '80:80'
    #   - "443:443/udp"
    #   - "443:443"
    deploy:
      replicas: 1
  cloudflare-ddns:
    image: favonia/cloudflare-ddns:1.15.1
    labels:
      - homepage.group=tvbox
      - homepage.name=DDNS
      - homepage.icon=cloudflare.svg
      - homepage.description=
    container_name: ddns
    # Choose the appropriate tag based on your need:
    # - "latest" for the latest stable version (which could become 2.x.y
    #   in the future and break things)
    # - "1" for the latest stable version whose major version is 1
    # - "1.x.y" to pin the specific version 1.x.y
    network_mode: host
    # This bypasses network isolation and makes IPv6 easier (optional; see below)
    cap_drop: [all]
    # Drop all Linux capabilities (optional but recommended)
    security_opt: [no-new-privileges:true]
    # Another protection to restrict superuser privileges (optional but recommended)
    restart: always
    # Restart the updater after reboot
    # user: "1000:1000"
    # Run the updater with specific user and group IDs (in that order).
    # You can change the two numbers based on your need.
    read_only: true
    # Make the container filesystem read-only (optional but recommended)
    environment:
      - TZ=Asia/Shanghai
      - CLOUDFLARE_API_TOKEN=${CADDY_CLOUDFLARE_API_TOKEN}
      - DOMAINS=homelab-dynamic.${MAIN_DOMAIN}
      - PROXIED=false # cf 代理
      - IP4_PROVIDER=none # 禁用ipv4
      - UPDATE_CRON=@every 5m # 更新间隔
      - IP6_PROVIDER=url:https://6.ipw.cn # 外部提供商，默认为Cloudflare trace
    deploy:
      replicas: 1
  mosdns:
    image: ghcr.io/shelken/mosdns:rolling
    container_name: mosdns
    networks:
      - homelab
    restart: always
    labels:
      - homepage.group=tvbox
      - homepage.name=mosdns
      - homepage.icon=azure-dns.png
      - homepage.description=dns服务
    volumes:
      - ${BASE_DOCKER_DATA_DIR}/mosdns/hosts.txt:/etc/mosdns/rules/selfhost.txt:ro
    environment:
      TZ: Asia/Shanghai
      SELF_DNS_SERVER_UDP: ${SELF_DNS_SERVER_UDP}
      ENABLE_AD_BLOCK: ${ENABLE_AD_BLOCK}
    ports:
      - "53:53/udp"
      - "8338:8338/tcp"
    deploy:
      replicas: 1
    logging:
      options:
        max-size: "80m"
        max-file: "3"
  node-exporter:
    container_name: node-exporter
    labels:
      - homepage.group=tvbox
      - homepage.name=node-exporter
      - homepage.icon=docker-moby.svg
      - homepage.description=
    command:
      - "--path.rootfs=/host/root"
      - "--path.procfs=/host/proc"
      - "--path.sysfs=/host/sys"
      - "--path.udev.data=/host/root/run/udev/data"
      - "--web.listen-address=0.0.0.0:9100"
      - >-
        --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)
    image: prom/node-exporter:v1.10.2
    network_mode: host
    restart: always
    volumes:
      - /:/host/root:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
    deploy:
      replicas: 1
  vector:
    image: timberio/vector:0.51.0-alpine
    container_name: vector
    labels:
      - homepage.group=tvbox
      - homepage.name=vector
      - homepage.icon=vector.svg
      - homepage.description=
    networks:
      - homelab
    restart: always
    # ports:
    # - "8686:8686"
    depends_on:
      # - loki
      - mosdns
    volumes:
      - ${VECTOR_CONFIG_DIR}:/etc/vector
      - /var/run/docker.sock:/var/run/docker.sock:ro
    deploy:
      replicas: 1
  uptime-kuma:
    image: louislam/uptime-kuma:1.23.17-debian
    container_name: uptime-kuma
    networks:
      - homelab
    restart: always
    # labels:
    #   - homepage.group=tvbox
    #   - homepage.name=Uptime-Kuma-Public
    #   - homepage.icon=uptime-kuma.svg
    #   - homepage.href=http://tvbox.lan:6300
    #   - homepage.widget.type=uptimekuma
    #   - homepage.widget.url=http://tvbox.lan:6300
    #   - homepage.widget.slug=public
    environment:
      TZ: Asia/Shanghai
    volumes:
      - "${UPTIME_KUMA_DATA_DIR}:/app/data"
    ports:
      - "6300:3001"
    deploy:
      replicas: 1
